.carousel {
    height: auto;
}
.carousel>button span {
    background-color: #000000;
}

.carousel .carousel-indicators button {
    width   : 20px;
    height  : 20px;
    position: relative;
    border-radius: 50%;
    margin: 0px 5px;
}

.carousel .carousel-indicators button span {
    border-radius: 50%;
    width   : 20px;
    height  : 20px;
    /* border: 1px solid #000; */
}

.carousel .carousel-indicators img {
    max-width: 100%;
    position : absolute;
    top      : 0;
    left     : 0;
}

.carousel .carousel-inner img {
    width: 100%;
    height: auto;
}

@media (max-width: 576px) {
    .carousel .carousel-indicators button {
        padding: 10px;
    }
}